@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-6">
        <div class="col-md-8" style="height:550px">
            <section>
                <form id="account" method="post">
                    <h3>Faça o login.</h3>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group text-center" >
                        <button type="submit" class="btn h-75 w-75 text-white" style="border-radius:20px; background-color:#66A615">Entrar</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar comfirmação por email</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-8 bg-light text-center" style="height: 550px;">

            <img class="w-30 mt-4" src="~/assets/img/usuarioIDRUG.png" alt="ícone de usuário" />
            <h4>Não possui cadastro?</h4>
            <p>
                Cadastre-se para receber novidades e finalizar sua solicitação.
                A seguir você informará seus dados para continuar o processo de compra.
            </p>
            <div class="form-group text-center mt-4">
                <button type="submit" class="btn btn-primary w-75 text-white" style="border-radius:20px; background-color:#2984EF" onclick="window.location.href='/Identity/Account/Register'" alt="botão cadastre-se">Cadastre-se</button>
            </div>
            <hr />
            <img class="w-20 mt-4" src="~/assets/img/farmaciaIDRUG.png" alt="ícone de farmácia" />
            <h5>Deseja ser uma farmácia parceira?</h5>
            <p>Conheça um pouco mais sobre a platarforma iDrug e como pode ser útil para sua farmácia</p>

            <div class="form-group text-center mt-4">
                <button type="submit" class="btn btn-primary w-75 text-white" style="border-radius:20px; background-color:#004595" onclick="window.location.href='/Identity/Account/Register'" alt="botão cadastre sua farmácia">Cadastre sua farmácia</button>
            </div> @*Redireconar para o local certo*@



        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
