@model IdrugWeb.Models.MedicamentoModel


@{
    ViewData["Title"] = "Cadastrar Medicamento";
}

<h1>Cadastrar Medicamento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoBarras" class="control-label"></label>
                <input asp-for="CodigoBarras" class="form-control" />
                <span asp-validation-for="CodigoBarras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoriaMedicamento" class="control-label"></label>
                <select asp-for="IdCategoriaMedicamento" asp-items="ViewBag.IdCategoriaMedicamento" class="form-control"></select>
                <span asp-validation-for="IdCategoriaMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabricante" class="control-label"></label>
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar ao menu anterior</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
