.form-group {
    width: 80%;
}
.row{
    display: block ruby;
}

.form-group-30 {
    width: 30%;
}

.form-group-20 {
    width: 20%;
}

.form-group-10 {
    width: 10%;
}


.form-group-40 {
    width: 40%;
}
