@model IdrugWeb.Models.FarmaciaModel;

@{
    ViewData["Title"] = "Painel";
}

<div class="d-flex w-100">
    <img style="width: 50px; height: 50px;" src="~/assets/img/farmaciaIDRUG.png" alt="Icone de farmácia" />
    <h1>FARMÁCIA</h1>
    @* Associar o nome da farmácia depois *@
</div>
<div class="d-flex container-geral">
    <div class="container-link" style="background-color: #55B71A;">
        <a asp-action="" class="d-flex align-items-center justify-content-center w-100 h-100"><p class="container-texto">Solicitações</p></a>
    </div>
    <div class="container-link" style="background-color:#2984EF;">
        <a asp-action="" class=" d-flex align-items-center justify-content-center w-100 h-100"><p class="container-texto">Gerenciar produtos</p></a>
    </div>
    <div class="container-link" style="background-color: #004595;">
        <a asp-action="" class=" d-flex align-items-center justify-content-center w-100 h-100"><p class="container-texto">Cadastro de Farmaceutico</p></a>
    </div>
    <div class="container-link" style="background-color: #004595;">
        <a asp-controller="CategoriaMedicamento" asp-action="Create" class=" d-flex align-items-center justify-content-center w-100 h-100"><p class="container-texto">Cadastrar Categoria</p></a>
    </div>
    <div class="container-link" style="background-color: #004595;">
        <a asp-controller="Medicamento" asp-action="Create" class=" d-flex align-items-center justify-content-center w-100 h-100"><p class="container-texto">Cadastrar Medicamento</p></a>
    </div>
</div>
<div class="text-center">
</div>
