@using System.Text.Json
@model IdrugWeb.Models.DisponibilizarMedicamentoViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="categorias-barra">
    <ul class="categorias-lista">
        <li class="categoria-item">Categoria 1</li>
        <li class="categoria-item">Categoria 2</li>
        <li class="categoria-item">Categoria 3</li>
        <li class="categoria-item">Categoria 4</li>
        <li class="categoria-item">Categoria 5</li>
    </ul>
</div>

<div class="banner">
    <a href="https://exemplo.com"><img src="https://cdn.pixabay.com/photo/2015/11/19/08/52/banner-1050629_960_720.jpg" class="banner-img" alt="Banner"></a>
</div>

<div class="list-cards">
    @foreach (var item in Model.listaDisponibilizacaoMedicamentosModel)
    {
        var medicamento = Model.listaMedicamento.FirstOrDefault(med => med.IdMedicamento == item.IdMedicamento);
        string jsonstring = Html.Raw(JsonSerializer.Serialize(item)).ToString();
        <form asp-controller="SolicitacaoMedicamento" asp-action="RealizarSolicitacao" method="post">
            <div class="card-produto">
                <img src="https://droguerialabastilla.com/cdn/shop/products/7706127000574_1200x1200.jpg" class="card-img-top" style="width: 200px; height: 200px">
                <hr class="no-margin">
                <div class="card-body">
                    <h5>@(medicamento != null ? medicamento.Nome : "Nome não identificado")</h5>
                    <p class="text-validade">VALIDADE: @(item.IdDisponibilizacaoMedicamento)</p><!--item.DataVencimento.ToShortDateString()-->
                    <p class="text-valor"> R$0,00 </p>

                    <input type="hidden" name="medicamentoDisponivel" value="@jsonstring" />
                    <button type="submit" class="botao-solicitar">Solicitar</button>
                </div>
            </div>
        </form>
     }
</div>

