@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">iDrug</h1>
    <p>O iDrug é um software que irá possibilitar a doação de medicamentos que estão perto da sua data de validade, medicamentos esses que seriam descartados pelas farmácias, mas que ainda se encontram em plenas condições de uso.</p>
    <p>Tenha acesso ao projeto em: <a href="https://github.com/marcosdosea/IDrug" target="_blank">https://github.com/marcosdosea/IDrug</a></p>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
