@model IdrugWeb.Models.DisponibilizarMedicamentoModel

@{ ViewData["Title"] = "Nova Disponibilização"; }

<h1> <strong>Disponibilizar</strong></h1>
<br>
<div class="p-3 bg-primary text-white"><h4>Cadastrar Disponibilização</h4></div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=" IdMedicamento" class="control-label"></label>
                <select asp-for=" IdMedicamento" asp-items="ViewBag.IdMedicamento" class="form-control"></select>
                <span asp-validation-for=" IdMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFarmacia" class="control-label"></label>
                <select asp-for="IdFarmacia" asp-items="ViewBag.IdFarmacia" class="form-control"></select>
                <span asp-validation-for="IdFarmacia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioDisponibilizacao" class="control-label"></label>
                <input asp-for="DataInicioDisponibilizacao" class="form-control" />
                <span asp-validation-for="DataInicioDisponibilizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimDisponibilizacao" class="control-label"></label>
                <input asp-for="DataFimDisponibilizacao" class="form-control" />
                <span asp-validation-for="DataFimDisponibilizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lote" class="control-label"></label>
                <input asp-for="Lote" class="form-control" />
                <span asp-validation-for="Lote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusMedicamento" class="control-label"></label>
                <select asp-for="StatusMedicamento" class="form-control">
                    <option value="disponivel">Disponivel</option>
                    <option value="indisponivel">Indisponivel</option>
                    <option value="reservado">Reservado</option>
                </select>
                <span asp-validation-for="StatusMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVencimento" class="control-label"></label>
                <input asp-for="DataVencimento" class="form-control" />
                <span asp-validation-for="DataVencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeReservada" class="control-label"></label>
                <input asp-for="QuantidadeReservada" class="form-control" />
                <span asp-validation-for="QuantidadeReservada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeEntregue" class="control-label"></label>
                <input asp-for="QuantidadeEntregue" class="form-control" />
                <span asp-validation-for="QuantidadeEntregue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeDisponivel" class="control-label"></label>
                <input asp-for="QuantidadeDisponivel" class="form-control" />
                <span asp-validation-for="QuantidadeDisponivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
